.flagContainer {
  height: 20vmin;
  width: 36vmin;
  background-color: pink;
  border: 1px solid black;
}

.redBackground {
  background-color: red;
}

.yellowBackground {
  background-color: yellow;
}

.blueBackground {
  background-color: blue;
}

/* Indonesia */
#indonesia {
  background-color: white;
}
#indonesia .section {
  height: 50%;
}
/*
#indonesia > .section:first-child{
  background-color: red;
}
/*
/* Colombia */
#columbia{
  position: relative;
}
#columbia > .thirdFlagSection:nth-child(1){
  background-color: yellow;
  height: 50%;
}
#columbia > .thirdFlagSection:nth-child(2){
  background-color: blue;
  height: 25%;
}
#columbia > .thirdFlagSection:nth-child(3){
  background-color: red;
  height: 25%;
}
/* Ireland */
#ireland {
  display: flex;
  background-color: white;
}
#ireland > .thirdFlagSection{
  width: 100%;
}
#ireland > .thirdFlagSection:nth-child(1){
  background-color: green;
}
#ireland > .thirdFlagSection:nth-child(3){
  background-color: orange;
}
/* France */
#france {
  display: flex;
  background-color: white;
}
#france > .thirdFlagSection{
  width: 100%
}
#france > .thirdFlagSection:nth-child(1){
  background-color: red;
}
#france > .thirdFlagSection:nth-child(3){
  background-color: blue;
}
/* Benin */
#benin {
  display: flex;
}
#benin > .verticalHalfSection:nth-child(1){
  background-color: green;
  float: left;
  width: 50%
}
#benin > .verticalHalfSection:nth-child(2){
  float: right;
  width: 50%
}
.yellowHalf{
  background-color: yellow;
  height: 50%;
}
.redHalf{
  background-color: red;
  height: 50%;
}
/* Sweden */
#sweden {
  position: relative;
  background-color: blue;
}
.yellowContainer1 {
  background-color: yellow;
  position: absolute;
  width: 100%;
  height: 15%;
  margin-top: 25%;
}
.yellowContainer2 {
  background-color: yellow;
  position: absolute;
  width: 10%;
  height: 100%;
  margin-left: 30%;
}
/* Switzerland */
#switzerland {
  position: relative;
  background-color: rgb(255, 0, 0);
  height: 36vmin;
  width: 36vmin;
}

.whiteLineVert {
  background-color: white;
  position: absolute;
  width: 15%;
  height: 50%;
  margin-left: 40%;
  margin-top: 22%;
}

.whiteLineHori {
  background: white;
  position: absolute;
  width: 50%;
  height: 15%;
  margin-top: 40%;
  margin-left: 23%;
}

/* Tonga */

#tonga {
  background-color: red;
  /* position: relative; */
}

.tongaCrossContainer {
  background-color: white;
  height: 50%;
  width: 33%;
  position: relative;
}

.tongaLineVert {
  background-color: red;
  position: absolute;
  width: 15%;
  height: 50%;
  margin-left: 40%;
  margin-top: 22%;
}

.tongaLineHori {
  background: red;
  position: absolute;
  width: 50%;
  height: 15%;
  margin-top: 40%;
  margin-left: 23%;
}

/* Japan */
#japan {
  display: flex;
  background-color: white
}
.redCircle {
  border-radius: 50%;
  margin: auto;
  background-color: red;
  height: 70%;
  width: 40%;
}

/* Canada */

#canada {
  background-color: white;
  position: relative;
  overflow: hidden;
  background-image: url(./assets/canada_logo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.canadaLeftSide {
  width: 25%;
  height: 100%;
  position: absolute;
  background-color: red;
  float: left;
}

.canadaRightSide {
  width: 25%;
  height: 100%;
  position: absolute;
  background-color: red;
  margin-left: 75%;
}

/* Norway */

#norway {
  position: relative;
  background-color: red;
}

.norwayWhiteVert {
  background-color: white;
  position: absolute;
  width: 16%;
  height: 100%;
  margin-left: 25%;
}

.norwayWhiteHori {
  background: white;
  position: absolute;
  width: 100%;
  height: 25%;
  margin-top: 22%;
}

.norwayBlueVert {
  background-color: darkblue;
  position: absolute;
  width: 8%;
  height: 100%;
  margin-left: 29%;
}

.norwayBlueHori {
  background: darkblue;
  position: absolute;
  width: 100%;
  height: 15%;
  margin-top: 25%;
}

/* Big single element first

/* Greece */
#greece {
  display: block;
  overflow: auto;
}

.greeceHoriContainer > div {
  background-color: white;
  width: 100%;
  height: 11%;
}

.greeceHoriContainer:nth-child(odd){
  background-color: blue;
}

#greeceSquare {
  position: absolute;
  width: 18%;
  height: 11%;
}

/* Somalia */

#somalia {
background-color: rgb(16, 147, 199);
text-align: center;
}

.somaliaStar {
  color: white;
  font-size: 100px;
  display: inline-block;
  margin: auto;
}

/* Chile */

#chile {
  background-color: red;
  position: relative;
}

.chileWhiteTopHalf {
  height: 50%;
  background-color: white;
}

.blueChileSquare {
  background-color: blue;
  height: 100%;
  width: 33%;
}

.chileStar {
  font-size: 60px;
  color: white;
  margin-left: 18%;
}
/* Turkey */

#turkey {
  background-color: red;
  display: flex;
}

.whiteMoon {
  border-radius: 50%;
  margin-top: 10%;
  margin-left: 15%;
  background-color: white;
  height: 60%;
  width: 35%;
}

.turkeyRedCircle {
  border-radius: 50%;
  margin-top: 10%;
  margin-left: 23%;
  background-color: red;
  height: 80%;
  width: 80%;
}

.turkeyStar {
  font-size: 60px;
  color: white;
  margin-top: 11%;
  transform: rotate(45deg);
}

/* China */

#china {
  background-color: rgb(250, 53, 3);
  position: relative;
}

.chinaStar {
  color: yellow;
  font-size: 70px;
  margin-left: 5%;
}

/* Cuba */

#cuba {
  background-color: white;
}
.cubaHoriBarContainer {
  position: relative;
}
.cubaHoriBars {
  background-color: blue;
  height: 20%;
  width: 100%;
}

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
